<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web-services="http://www.springframework.org/schema/web-services"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd">

	<import resource="classpath:/META-INF/spring/super-context.xml"/>

	<web-services:annotation-driven/>
	
<!-- 	<bean class="hu.bme.mit.v37zen.prepayment.datasync.seeddata.debug.ws.WsDebugMain"></bean> -->

	<context:component-scan base-package="hu.bme.mit.v37zen.prepayment.datasync.seeddata.debug.ws.server">
	</context:component-scan>

	<web-services:dynamic-wsdl id="meterreadings" targetNamespace="http://www.v37zen.prepayment.datasync.com/meterreadings"
		portTypeName="MeterReadings" locationUri="/prepay/meterreadings/" requestSuffix="Message">
		<web-services:xsd location="EipGenericDataImporter.xsd"/>
	</web-services:dynamic-wsdl>
		
</beans>