<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>etc/properties/integration.properties</value>
                <value>etc/properties/dataSync.properties</value>
                <value>etc/properties/meterData.properties</value>
                <value>etc/properties/xpath.properties</value>
                <value>etc/properties/jdbc.properties</value>
                <value>etc/properties/jpa.properties</value>
            </list>
        </property> 
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    
    <import resource="spring/task-exec.xml"/>
    
    <import resource="spring/context.xml"/>
    <import resource="spring/file-poller.xml"/>
    <import resource="spring/content-base-router.xml"/>
    
    <import resource="spring/syncdata.xml"/>
    <import resource="spring/meterdata.xml"/>
    
    
    <import resource="spring/jdbc-jpa.xml"/>

</beans>